{%extends 'adminLandingPage.html'%}

{%block admin%}

<main>
    <div class="main__container">
        <div class="main__logo">
            <img src="/static/images/logo.png" alt="Quality Transport logo">
        </div>
        <br>
        <div class="main__title">
            <h1>QUALITY TRANSPORT</h1>
        </div>
        <br>
        <div class="information">
            Somos una empresa de transporte turístico y empresarial. Enfocada en brindar soluciones ajustadas a las necesidades de cada cliente. Comprometidos con la excelencia de nuestros servicios y empeñados en una mejora continua para garantizar la satisfacción y preferencia de nuestros clientes.
            Desde el año 2011 en el rubro de transporte y  adaptándonos a las exigencias de un mercado dinámico, cambiante y creciente, hemos permanecido y atendido a diferentes tipos de clientes, centrándonos siempre en el establecimiento de relaciones comerciales de largo plazo, aportando valor y en donde podamos ganar ambas partes.
            Nos encanta trabajar con diferentes públicos, disfrutamos lo que hacemos y marcamos la diferencia en nuestros servicios.
            <br></br>
            ¡Bienvenido administrador! Aquí podrás revisar las reservaciones de viajes de todos tus clientes
        </div>

            </div>
        </div>

    </div>
</main>

{%endblock admin%}