
{%extends 'clientLandingPage.html'%}

{%block client%}

<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 5px;
        text-align: center ;
    }
</style>

<main>
    <div class="main__container">
        <div class="main__logo">
            <img src="/static/images/logo.png" alt="Quality Transport logo">
        </div>
        <br>
        <div class="main__title">
            <h1>RESERVAS DE CLIENTES QUALITY TRANSPORT</h1>
        </div>
        <br>
        <table id="myTable" class="myTable" style="width:85%">

            <tr>
                <th>Usuario</th>
                <th>Fecha</th>
                <th>Servicio</th>
                <th>Pasajeros</th>
                <th>Partida</th>
                <th>Destino</th>
                <th>Eliminar</th>
            </tr>
            {% for reserv in reservacion %}
            {%if reserv["usuario"] == usuario%}
            <tr>
                <td>{{ reserv["usuario"] }}</td>
                <td>{{ reserv["fecha"] }}</td>
                <td>{{ reserv["servicio"] }}</td>
                <td>{{ reserv["pasajeros"] }}</td>
                <td>{{ reserv["partida"] }}</td>
                <td>{{ reserv["destino"] }}</td>
                <td>
                    <form action="{{ url_for('tablareservaciones') }}" method="POST">
                        <input type="hidden" name="id" value="{{ reserv['id'] }}">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
        <br><br>
        <a href="{{ url_for('reservacion') }}">Hacer una nueva reservacion</a>
        
    </div>
</main>

{%endblock client%}
